<div id="sign-up">
<h1>Sign Up</h1>
<div id="sign-form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
  <% end %>

  <%= form_for(:user, url: users_path) do |f| %>
  <p><%= f.text_field :first_name, :placeholder => 'First Name' %></p>
  <p><%= f.text_field :last_name, :placeholder => 'Last Name' %></p>
  <p><%= f.text_field :username, :placeholder => 'Username' %></p>
  <p><%= f.text_field :email, :placeholder => 'Email' %></p>
  <p>
    <%= f.password_field :password, :placeholder => 'Password' %><br>
    <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
  </p>
  <%= f.submit 'Sign Up' %>
<% end %>
</div>
</div>