<div class="profile">
  <h1>Welcome to <%= @user.username %>'s profile page!</h1>
  <br>
  <h2> Below is a history of all <%= @user.username %>'s sketches </h2>
</nav>

<div class ='past_user_sketches'>
   <ul>
  <% @sketches.each_with_index do |sketch, index| %>
    <a href="<%= tree_sketch_path(sketch.tree_id, sketch.id) %>">
      <canvas width="600" height="600" class="sketch" id="sketch-<%= index %>"></canvas>
    </a>
    <script type="text/javascript">
      var jsonString = '<%= raw sketch.json_data %>';
      var sketchId = "sketch-" + "<%= index %>";
      sketchCanvas = new fabric.StaticCanvas(sketchId, {isDrawingMode: false});
      sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
      $('.sketch').css({'height': '150px', 'width': '150px', 'border': '1px solid black'})
    </script>
  <% end %>
</div>
</div>

