<% if params[:parent_id] %>
<div class='lineage-pictures'>
  <h3>Lineage</h3>
  <% parent = Sketch.find(params[:parent_id]) %>
  <% if parent.parent %>
    <% grandparent = parent.parent %>
    <% lineage = [grandparent, parent] %>
    <% if grandparent.parent %>
      <% lineage = [grandparent.parent, grandparent, parent] %>
    <% end %>
  <% else %>
    <% lineage = [parent] %>
  <% end %>
  <% lineage.each_with_index do |lineage, index| %>
    <a href="<%= tree_sketch_path(lineage.tree_id, lineage.id) %>">
      <p><canvas width="600" height="600" class="lineage" id="sketch-<%= index %>"></canvas></p>
    </a>

    <script type="text/javascript">
      var jsonString = '<%= raw lineage.json_data %>';
      var sketchId = "sketch-" + "<%= index %>";
      sketchCanvas = new fabric.StaticCanvas(sketchId, {isDrawingMode: false});
      sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
      $('.lineage').css({'height': '150px', 'width': '150px', 'border': '1px solid black'})
    </script>
    <% if index != 2 %><p class='arrow'>&#9660;</p><% end %>
  <% end %>
</div>
<% end %>

<div class="format-canvas-elements">
  <div id="drawing-tools">

    <div class="st-brush-border">
      <button id="super-tiny-brush"></button>
    </div>
    <div class="tiny-brush-border">
      <button id="tiny-brush"></button>
    </div>
    <div class="small-brush-border">
      <button id="small-brush"></button>
    </div>
    <div class="medium-brush-border">
      <button id="medium-brush"></button>
    </div>
    <div class="large-brush-border">
      <button id="large-brush"></button>
    </div>

    <button class="color" id="red"></button>
    <button class="color" id="orange"></button>
    <button class="color" id="yellow"></button>
    <button class="color" id="green"></button>
    <button class="color" id="blue"></button>
    <button class="color" id="purple"></button>
    <button class="color" id="brown"></button>
    <button class="color" id="black"></button>
    <button class="color" id="gray"></button>
    <button class="color" id="white"></button>
    <button id="clear-canvas">Clear</button>
  </div>

  <div id="canvas-div" style='position:relative'>
    <p id='ink'> You have used <span>0</span> pixels</p>


    <div class='canvas-border'>
    <canvas width="600" height="600" id="canvas-partial-box"></canvas>
    <% if params[:parent_id] %>
    <form>
      <input type="hidden" id="parent-sketch-data" name="parent-sketch-data" value='<%= Sketch.find(params[:parent_id]).json_data %>'>
    </form>
    <% end %>
      </div>
  <div id='submit'>
      <button id="sketch-submit">Save this sketch</button>
  </div>
  </div>
</div>
