
<% sketch = Sketch.random %>

<h1 style='margin-bottom:0;'>Create and add to never-ending sketches.</h1>

<div class="button-container">
  <form action='<%= new_tree_path %>'>
  <button style='margin-top:60px;' class="collab-button">Start Fresh</button>
<% if sketch %>
  </form>
    <form action='<%= tree_sketch_path(sketch.tree_id, sketch.id)%>'>
      <button style='margin-top:60px' class="random-button">Randomize</button>
    </form>
<% end %>

</div>

<div id="index-container">

  <div class="two-column">
    <div class='popular'>
      <h2>Popular</h2>

      <h3>Click sketch to see its lineage.</h3>
      <% @popular_trees.each_with_index do |tree, index| %>
      <a href="<%= tree_path(tree.id) %>">
        <canvas width="600" height="600" class="tree-view-sketches" id="tree-<%= index %>"></canvas>
      </a>


      <% if tree.sketches.last != nil %>
      <script type="text/javascript">
      var jsonString = '<%= raw tree.sketches.last.json_data %>';
      var treeId = "tree-" + "<%= index %>";
      sketchCanvas = new fabric.StaticCanvas(treeId, {isDrawingMode: false});
      sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
      $('.tree-view-sketches').css({'border': '1px solid black', 'height': '400px', 'width': '400px'});
      </script>
      <% end %>
      <% end %>
    </div>

    <div class='recently-added'>
      <h2>Recent</h2>
      <h3>Add to a sketch</h3>
      <div class='recently-added-canvas'>
      <% @latest_sketches.each_with_index do |sketch, index| %>
      <a href="<%= new_tree_sketch_path(tree_id: sketch.tree.id ,parent_id: sketch.id) %>">
       <canvas width="600" height="600" class="most-recent-sketches" id="sketch-<%= index %>"></canvas>
     </a>


     <script type="text/javascript">
     var jsonString = '<%= raw sketch.json_data %>';
     var treeId = "sketch-" + "<%= index %>";
     sketchCanvas = new fabric.StaticCanvas(treeId, {isDrawingMode: false});
     sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
     $('.most-recent-sketches').css({'border': '1px solid black', 'height': '150px', 'width': '150px'});
     </script>
     <% end %>
   </div>
 </div>
</div>
</div>
