<% if !logged_in? %>
<h3 style="text-align:center;">Create an account and sign in to sketch and save your drawings</h3>
<% end %>

<h2>Most recent sketch trees</h2>

<div class='popular'>
  <% @popular.each_with_index do |tree, index| %>
  <a href="<%= tree_path(tree.id) %>">
    <canvas width="600" height="600" class="tree-view-sketches" id="tree-<%= index %>"></canvas>
  </a>
  <p>Click any sketch to see everything in its ancestory.</p>

  <% if tree.sketches.last != nil %>
    <script type="text/javascript">
    var jsonString = '<%= raw tree.sketches.last.json_data %>';
    var treeId = "tree-" + "<%= index %>";
    sketchCanvas = new fabric.StaticCanvas(treeId, {isDrawingMode: false});
    sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
    $('.tree-view-sketches').css({'border': '1px solid black', 'height': '300px', 'width': '300px'})
    </script>
  <% end %>
  <% end %>
</div>

<div class='recently_added'>

  <% @latest.each do |sketch| %>
  <%= javascript_tag do %>
  window.sketch = <%= raw sketch.json_data.to_json %>
  <% end %>
  <% end %>
</div>
