<%= javascript_tag do %>
  window.treeIDs = <%= raw @tree.all_sketches_lineage %>
  window.origin = <%= @origin.to_json %>
  window.tID = <%= raw @tree.id %>
<% end %>

<%= javascript_tag do %>
  window.sketches = <%= raw @sketches.to_json %>
<% end %>

<div id='tree-json'>
</div>
