<nav >
  <ul>
    <li class="nav-ink nav-block"><%= link_to 'Eversketch', root_path, :id => 'logo' %></li>

    <% if session[:current_user_id] %>
    <div class="nav-buttons">
      <% if current_user.first_name != nil%>
      <button class="nav-profile nav-block"><%= link_to current_user.first_name + " " + current_user.last_name + "'s Sketches", user_path(session[:current_user_id]) %></button>
      <%else%>
      <button class="nav-profile nav-block"><%= link_to current_user.username + "'s Sketches", user_path(session[:current_user_id]) %></button>
      <%end%>
      <button class="nav-create nav-block"><%= link_to 'Create New Sketch', new_tree_path %></button>
      <li class="nav-signout nav-block"><%= link_to 'Sign Out', logout_path %></li>
    <%else%>
      <button class="nav-signout nav-block"><%= link_to 'Sign Up', new_user_path %></button>
      <button class="nav-profile nav-block"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></button>
      <button class="nav-create nav-block"><%= link_to 'Log In', login_path, :id => 'login' %></button>
    <%end%>
  </div>
  </ul>
</nav>


