<nav>
  <ul>
    <li><%= link_to 'Ink', root_path, :id => 'logo' %></li>
    <% if session[:current_user_id] %>
      <li><%= link_to current_user.username.capitalize, user_path(session[:current_user_id]) %></li>
      <li><%= link_to 'Create New Tree', new_tree_path %></li>
      <li><%= link_to 'Sign Out', logout_path %></li>
    <%else%>
      <li><%= link_to 'Sign Up', new_user_path %></li>
      <li><%= link_to 'Log In', login_path, :id => 'login' %></li>
    <%end%>
  </ul>
</nav>
