<!DOCTYPE html>
<html>
<head>
  <title>Eversketch</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="/cristin.css">
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render '/layouts/navbar' %>

  <div class="page">
    <%= yield %>
  </div>

  <%= render '/layouts/footer' %>

</body>
</html>
