<!DOCTYPE html>
<html>
<head>
  <title>Ink</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/navbar' %>

<div id='overlay'></div>

<div id='login_modal'>
  <%= render '/sessions/new' %>
</div>

<%= yield %>

</body>
</html>
